In [329]:
import pandas as pd
import numpy as np

In [ ]:
car = pd.read_csv('quikr_car.csv')
car.head()

In [ ]:
car.shape

(892, 6)

In [ ]:
car.info()

In [ ]:
car['year'].unique()

In [ ]:
car['name'].unique()

In [ ]:
car['company'].unique()

In [ ]:
car['Price'].unique()

In [ ]:
car['kms_driven'].unique()

In [ ]:
car['fuel_type'].unique()

In [ ]:
backup = car.copy()
backup.head()

In [ ]:
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    zest
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 892, dtype: object

In [ ]:
car= car[car['year'].str.isnumeric()]
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: object

In [ ]:
car['year'] = car['year'].astype(int)

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [ ]:
car=car[car['Price']!= "Ask For Price"]
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [ ]:
car['Price'] = car['Price'].str.replace(',','').astype(int)
car['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int32

In [ ]:
car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',', '')

In [ ]:
car = car[car['kms_driven'].str.isnumeric()]

In [266]:
car['kms_driven'] = car['kms_driven'].astype(int)

In [267]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [269]:
car = car[~car['fuel_type'].isna()]

In [271]:
car['name'] = car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [275]:
car = car.reset_index(drop=True)

In [ ]:
car = car[car['Price']<6e6].reset_index(drop=True)

In [280]:
car.to_csv('Clean Car.csv')

Model

In [301]:
X = car.drop(columns='Price')
y = car['Price']

In [302]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [287]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [310]:
ohe = OneHotEncoder()
ohe.fit(X[['name','company', 'fuel_type']])

OneHotEncoder()

In [337]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']), remainder='passthrough')

In [322]:
lr = LinearRegression()

In [323]:
pipe = make_pipeline(column_trans, lr)

In [ ]:
pipe.fit(X_train, y_train)

In [326]:
y_pred = pipe.predict(X_test)

In [ ]:
y_pred

In [328]:
r2_score(y_test, y_pred)

0.6744622074305079

In [330]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [331]:

np.argmax(scores)

655

In [332]:
scores[np.argmax(scores)]

0.920086890464658

In [333]:
import pickle

In [334]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [336]:
pipe.predict(pd.DataFrame(columns=['name','company','year','kms_driven','fuel_type'],data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([400757.76109572])